# Python
__pycache__/
*.py[cod]
.Python
*.so

# Build / Distribution
build/
dist/
*.egg-info/
*.egg

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.idea/
.vscode/
*.swp

# Project specific
data/songs/*
!data/songs/.gitkeep

# Testing
.coverage
.pytest_cache/
htmlcov/
.tox/

# OS
.DS_Store
Thumbs.db

# Temporary/Build files
python
source